{% extends "base.html" %}
{% load staticfiles %}

        {% block header_bot %}
        <div class="header__bot">
          <div class="container">
            <nav class="breadcrumb">
              <ol class="breadcrumb__list d-flex align-items-center">
                <li class="breadcrumb__item">
                  <a href="{% url 'core-index' %}" class="breadcrumb__link">Главная</a>
                </li>
                <li class="breadcrumb__item active">
                  Каталог
                </li>
              </ol>
            </nav>
            <h1 class="title__page">Каталог</h1>
          </div>
        </div>
        {% endblock %}

        {%  block main_body %}

      <!-- Catalog -->

      <div class="catalog">
        <div class="container">
          <div class="row">
            
            <!-- Col -->

            <div class="col-lg-3">
              <aside class="aside">
                <div class="aside__item">
                  <h3>
                    Категория:
                    <span class="aside__arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                        <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                         d="M10.308,9.865 L19.880,0.681 C20.050,0.519 20.050,0.254 19.880,0.091 C19.710,-0.072 19.434,-0.072 19.265,0.091 L10.001,8.980 L0.736,0.091 C0.566,-0.072 0.290,-0.072 0.121,0.091 C0.036,0.173 -0.006,0.280 -0.006,0.387 C-0.006,0.494 0.036,0.600 0.121,0.681 L9.693,9.865 C9.862,10.027 10.138,10.027 10.308,9.865 Z"/>
                      </svg>
                    </span>
                  </h3>
                  <div class="aside__list check">
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check" checked="checked">
                      <span class="check__mark"></span>
                      <span class="check__name">Proprietary Wired Technology</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Proprietary Wireless Technology</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Open Standard</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Products compatible with HDL</span>
                    </label>
                  </div>
                </div>
                <div class="aside__item">
                  <h3>
                    Каталог:
                    <span class="aside__arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                        <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                         d="M10.308,9.865 L19.880,0.681 C20.050,0.519 20.050,0.254 19.880,0.091 C19.710,-0.072 19.434,-0.072 19.265,0.091 L10.001,8.980 L0.736,0.091 C0.566,-0.072 0.290,-0.072 0.121,0.091 C0.036,0.173 -0.006,0.280 -0.006,0.387 C-0.006,0.494 0.036,0.600 0.121,0.681 L9.693,9.865 C9.862,10.027 10.138,10.027 10.308,9.865 Z"/>
                      </svg>
                    </span>
                  </h3>
                  <div class="aside__list check">
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check" checked="checked">
                      <span class="check__mark"></span>
                      <span class="check__name">Программное обеспечение</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Панели управления/Интерфейсы питания панели</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Контроллеры/Приводы</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Датчики</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Шлюзы/Контакты</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Аудио</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Инфраструктурные устройства/Аксессуары</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Клавишные панели</span>
                    </label>
                  </div>
                </div>
                <div class="aside__item">
                  <h3>
                    Серия:
                    <span class="aside__arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                        <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                         d="M10.308,9.865 L19.880,0.681 C20.050,0.519 20.050,0.254 19.880,0.091 C19.710,-0.072 19.434,-0.072 19.265,0.091 L10.001,8.980 L0.736,0.091 C0.566,-0.072 0.290,-0.072 0.121,0.091 C0.036,0.173 -0.006,0.280 -0.006,0.387 C-0.006,0.494 0.036,0.600 0.121,0.681 L9.693,9.865 C9.862,10.027 10.138,10.027 10.308,9.865 Z"/>
                      </svg>
                    </span>
                  </h3>
                  <div class="aside__list check">
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check" checked="checked">
                      <span class="check__mark"></span>
                      <span class="check__name">iElegance</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Tile</span>
                    </label>
                    <label class="check__item d-flex">
                      <input type="checkbox" name="check">
                      <span class="check__mark"></span>
                      <span class="check__name">Granite</span>
                    </label>
                  </div>
                </div>
              </aside>
            </div>

            <!-- Col -->

            <div class="col-lg-9">
              <div class="catalog__panel d-flex align-items-center justify-content-between">
                <form action="#" class="catalog__seach">
                  <label><input type="text" placeholder="Поиск по каталогу"></label>
                  <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path fill-rule="evenodd"
                       d="M16.880,16.327 L12.914,12.361 C13.978,11.138 14.622,9.542 14.622,7.798 C14.622,3.959 11.500,0.839 7.665,0.839 C3.826,0.839 0.707,3.962 0.707,7.798 C0.707,11.634 3.830,14.757 7.665,14.757 C9.409,14.757 11.004,14.113 12.227,13.049 L16.192,17.015 C16.287,17.109 16.413,17.160 16.536,17.160 C16.659,17.160 16.786,17.112 16.880,17.015 C17.068,16.827 17.068,16.515 16.880,16.327 ZM1.680,7.798 C1.680,4.498 4.365,1.817 7.661,1.817 C10.961,1.817 13.642,4.501 13.642,7.798 C13.642,11.095 10.961,13.783 7.661,13.783 C4.365,13.783 1.680,11.098 1.680,7.798 Z"/>
                    </svg>
                  </button>
                </form>
                <div class="show-by d-flex align-items-center">
                  <span>Показать по:</span>
                  <ul class="show-by__list d-flex">
                    <li class="show-by__item"><a href="#" class="show-by__link active">10</a></li>
                    <li class="show-by__item"><a href="#" class="show-by__link">20</a></li>
                    <li class="show-by__item"><a href="#" class="show-by__link">50</a></li>
                  </ul>
                </div>      
              </div>
              <div class="catalog__group row">

                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/1.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">5A LED диммерный модуль, 6 каналов</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$263.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>
                
                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/2.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">Диммер 12-канальный, 10А на канал</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$3,490.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>

                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/3.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">5A LED диммерный модуль, 6 каналов</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$263.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>

                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/1.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">5A LED диммерный модуль, 6 каналов</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$263.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>

                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/3.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">5A LED диммерный модуль, 6 каналов</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$263.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>

                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/2.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">5A LED диммерный модуль, 6 каналов</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$263.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>

                <!-- Item -->

                <div class="col-sm-6 col-lg-6 col-xl-4">
                  <div class="catalog__item speed">
                    <div class="catalog__img"><img src="img/catalog/1.png" alt="Фото"></div>
                    <div class="catalog__desc">
                      <p class="catalog__name">5A LED диммерный модуль, 6 каналов</p>
                      <p class="catalog__articul">Артикул: HDL-MPH102.48</p>
                    </div>
                    <p class="catalog__price">$263.00</p>
                    <div class="catalog__btn"><a href="#" class="btn btn__main"><span>В корзину</span></a></div>
                  </div>
                </div>

              </div>
              <nav class="pagination">
                <ul class="pagination__list flex-center">
                  <li class="page__item">
                    <a class="page__link__btn" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill-rule="evenodd"
                         d="M0.123,6.759 L6.376,12.886 C6.523,13.030 6.759,13.030 6.907,12.886 C7.054,12.742 7.054,12.510 6.907,12.366 L0.920,6.500 L6.907,0.634 C7.054,0.490 7.054,0.259 6.907,0.114 C6.835,0.043 6.737,0.005 6.643,0.005 C6.548,0.005 6.451,0.041 6.379,0.114 L0.125,6.241 C-0.022,6.383 -0.022,6.617 0.123,6.759 Z"/>
                      </svg>
                    </a>
                  </li>
                  <li class="page__item">
                    <a class="page__link active" href="#">1</a>
                  </li>
                  <li class="page__item">
                    <a class="page__link" href="#">2</a>
                  </li>
                  <li class="page__item">
                    <a class="page__link" href="#">3</a>
                  </li>
                  <li class="page__item">
                    <a class="page__link" href="#">4</a>
                  </li>
                  <li class="page__item">
                    <a class="page__link" href="#">...</a>
                  </li>
                  <li class="page__item">
                    <a class="page__link" href="#">10</a>
                  </li>
                  <li class="page__item">
                    <a class="page__link__btn" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill-rule="evenodd"
                         d="M6.877,6.759 L0.624,12.886 C0.476,13.030 0.240,13.030 0.093,12.886 C-0.054,12.742 -0.054,12.510 0.093,12.366 L6.080,6.500 L0.093,0.634 C-0.054,0.490 -0.054,0.259 0.093,0.114 C0.165,0.043 0.263,0.005 0.357,0.005 C0.452,0.005 0.549,0.041 0.621,0.114 L6.874,6.241 C7.022,6.383 7.022,6.617 6.877,6.759 Z"/>
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
        {% endblock %}